table {
    margin: 0 auto;
}

table, tr, td, th{
    border-collapse: collapse;
    border: 2px solid darkred;
    padding: 10px 30px;
    text-align: center;

}

tr .id{
    color: rebeccapurple;
}

tr .name{
    color: #2bbfff;
}

tr .dob {
    color: red;
}

tr .phone {
    color: blue;
}

tr .salary {
    color: darkcyan;
}